<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .teacher{
            display: inline-block;
            border: 1px dashed maroon;
        }
    </style>
    <title>Show All</title>
</head>
<body>
    <a href="form">Back to the form</a><br>
    {%for user in allUsers%}
    <div class="teacher">
    <p>firstName: {{user.firstName}}</p>
    <p>lastName: {{user.lastName}}</p>
    <p><img src="{{ user.img.url }}" style="width: 170px; float: left; margin-right: 10px;" /></p>
    <p>birthDate: {{user.birthDate}}</p>
    <p>about: {{user.about}}</p>
    <p>email: {{user.email}}</p>
    <p>passwd: {{user.passwd}}</p>
    <p>mobile: {{user.mobile}}</p>
    <p>privilage: {{user.privilage}}</p>
    <p>gender: {{user.gender}}</p>
    <p>location:  {{user.location}}</p>
    </div>
    {%endfor%}
    
</body>
</html>