<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Teacher
    </title>
    
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'css/subject.css' %}"> 
</head>



   


<body>
    <div class="main" style="display:flex;justify-content: space-evenly;margin-top: 50px; border-bottom: solid black;">
        <h3>(Subject Name)Teacher</h3>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="width: 300px;"> 
            <option selected>Choose your City</option>
            <option value="1">Ramallah</option>
            <option value="2">Nablus</option>
            <option value="3">Hebron</option>
            <option value="4">jenin</option>
        </select>
    </div>
    
    <div class="middle" style="display: flex; justify-content: space-evenly; margin-top: 20px;">

        <div class="middle1" >
            <img src="images.png" alt="Teacher1">
            <br>
            <a href="mohannad">mohannad salman</a>
        </div>
        <div class="middle2">
            <img src="images.png" alt="Teacher2">
            <br>
            <a href="Abdulrahman">Abdulrahman ghouli</a>
        </div>
        <div class="middle3">
            <img src="images.png" alt="Teacher3">
            <br>
            <a href="mohannad">Nizam jawabreh</a>
        </div>
    </div>
    <div class="second" style="display: flex; justify-content: space-evenly;margin-top: 20px;">   
        <div class="middle4">
            <img src="images.png" alt="Teacher4">
            <br>
            <a href="mohannad">mohammad Issa</a>
        </div>
        <div class="middle5">
            <img src="images.png" alt="Teacher5">
            <br>
            <a href="Abdulrahman">Hasan mohammad</a>
        </div>
        <div class="middle6">
            <img src="images.png" alt="Teacher6">
            <br>
            <a href="mohannad">Ali ahmad</a>
    </div>
    </div>
    
</body>
</html>