<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>(Subject Name)Teacher
    </title>
    
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'css/subject.css' %}"> 
</head>
<style>
img{
    width:100px
}


</style>


   


<body>
    <div class="main" style="display:flex;margin-top: 50px; border-bottom: solid black;">
        <h1 style="float: left;">Materials</h1>
        
    </div>
    
    <div class="middle" style="display: flex; justify-content: space-evenly; margin-top: 50px;">

        <div class="middle1" >
            <img src="images.png" alt="Teacher1">
            <br>
            <a href="">Math</a>
        </div>
        <div class="middle2">
            <img src="images.png" alt="Teacher2">
            <br>
            <a href="">Geography</a>
        </div>
        <div class="middle3">
            <img src="images.png" alt="Teacher3">
            <br>
            <a href="">Physics</a>
        </div>
    </div>
    <div class="second" style="display: flex; justify-content: space-evenly;margin-top: 50px;">   
        <div class="middle4">
            <img src="images.png" alt="Teacher4">
            <br>
            <a href="">Chemstry</a>
        </div>
        <div class="middle5">
            <img src="images.png" alt="Teacher5">
            <br>
            <a href="">English</a>
        </div>
        <div class="middle6">
            <img src="images.png" alt="Teacher6">
            <br>
            <a href="">Arabic</a>
    </div>
    </div>
    
</body>
</html>